/* Style the buttons that are used to open the tab content */
.header button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 16px;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.header button:hover {
  background-color: #ddd;
}
  
/* Create an active/current tablink class */
.header button.active {
  background-color: #ccc;
}
  
/* Style the tab content */
.tabcontent {
  display: none;
  flex: 1;
  height: calc(100% - 45px);
  width: 100%;
  position: fixed;
  background-image: url('img/mc-light-stone.png');
}

#status-icon{
  height: 45px;
  width: 45px;
  cursor: default;
}


.status-off{
  background-image: url('img/status-off-slime.png');
  object-fit: fill;
}

.status-on{
  background-image: url('img/status-on-slime.png');
  object-fit: fill;
}

.page-container {
  display: flex;
  margin: 0;
  height: calc(100% - 45px);
  top: 45px;
  width: 100%;
  position: fixed;
}

body{
  margin: 0;
  height: 100%;
  display: flex;
}

.header{
  flex:1;
  border: 0;
  justify-content: flex-start;
  background-color: #f1f1f1;
  height: 45px;
  position: relative;
  width: auto;
}
.container{
  display: flex;
  flex-direction: column;
}

.body{
  background-image: url('img/mc-dark-stone.png');
}